.menu-toggle {
	display: block;
	position: relative;

	width: $header-height-base; // Hackerman.
	height: $header-height-base;
	box-sizing: border-box;
	padding: 0.75rem;

	@include md {
		display: none;
	}
	
	// The Sass way of writing "css". (great for components like these!)
	.bars-outer {
		display: block;
		position: relative; // Wrap the bars in a relative element so the absolute element knows to take dimensions from this element.

		width: 100%;
		height: 100%;

		.bars-inner {
			display: flex;
			position: absolute;

			flex-direction: column;
			justify-content: space-around;

			width: 100%;
			height: 100%;
			overflow: hidden;

			.bar {
				position: relative;
		
				width: 100%;
				height: 0.35rem;
		
				background-color: white;
			}
		}
	}
}

.menu-toggle.open {
	padding: 1rem;

	.bars-inner {
		display: block;

		.bar {
			position: absolute;

			width: 200%;
		}

		.bar.one {
			transform: translateY(-50%) rotate(45deg);
			transform-origin: left;
		}

		.bar.two {
			display: none;
		}

		.bar.three {
			transform: translateY(-50%) translateX(-50%) rotate(-45deg);
			transform-origin: right;
		}
	}
}