/**
	Header styles.
*/

$content-margin: 10px;

.Header {
    box-sizing: border-box;
    width: 100%;
		height: $headerHeight;
    display: flex;
    padding: 1em;
    background-color: rgb(192, 45, 26);
    color: #fff;
    align-items: center;
    position: fixed;
    z-index: 1;
    top: 0;
    box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.2);
}

.Header .company-logo-container {
    padding-left: $content-margin;
    height: 100%;
    display: flex;
    align-items: center;
}

.Header .company-name {
    margin-left: 20px;
    font-size: 40px;
    font-weight: bold;
}

.Header .nav-bar {
    margin-left: auto;
    margin-right: $content-margin;
    font-size: 25px;
}

.Header .nav-link {
    display: inline-block;
    padding: 0.5em 1em;
    color: rgba(255, 255, 255, 0.835);
    font-weight: bold;
    text-decoration: none;
}

.Header .nav-link-active {
    color: #fff;
    border-bottom: 2px solid;
}