.section {
  position: relative;
  isolation: isolate;
  background: var(--vv-tan) url("../../../../assets/container-pattern-2x.png")
    repeat;
}

.content {
  position: relative;
  z-index: 1;
  color: white;
  font-family: LanaPixel, Nunito, sans-serif;
  -webkit-font-smoothing: none;
  text-shadow: 0 2px 0 rgba(0, 0, 0, 0.5);
}
