.Community.main-container {
  background-position: 10% 0%;

  @include md {
    background-position: 0%;
  }
}

.text-with-dark-background {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  padding: 10px;
  color: #fff;
  font-size: 18px;
  text-align: center;
  margin: 20px auto;
  max-width: 80%;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1));
}



.Community .discord-text {
  padding-bottom: 25px;
}

.Community .youtube-twitter-text {
  padding-top: 25px;
  padding-bottom: 25px;
}

.Community .btn {
  border: none;
  cursor: pointer;
  color: #ffffff;
  font-weight: bold;
  padding: 20px 30px;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.Community .btn:active {
  position: relative;
  top: 1px;
}

.Community .btn-icon {
  width: 30px;
  height: 30px;
  padding-right: 10px;
}

.Community .social-media-btns {
  display: flex;

  flex-direction: column;

  @include md {
    flex-direction: row;
  }
}

.Community .discord-btn {
  border-radius: 20px;
  box-shadow:inset 0 27px 0px -24px rgb(105, 115, 243);
  background-color: rgb(86, 98, 246);
  font-size: 22px;
  align-self: flex-start;
  width: 250px;

  margin: 0 auto;

  justify-content: center;

  @include md {
    width: 300px;

    margin: 0;
  }
}

.Community .discord-btn:hover {
  background-color: rgb(86, 113, 246);
}

.Community .youtube-btn {
  border-radius: 20px;
  box-shadow:inset 0 27px 0px -24px rgb(245, 75, 75);
  background-color: rgb(229, 19, 19);
  font-size: 20px;

  margin: 0 auto 10px auto;

  @include md {
    margin: 0 20px 0 0;
  }
}

.Community .youtube-btn:hover {
  background-color: rgb(234, 52, 52);
}

.Community .twitter-btn {
  border-radius: 20px;
  box-shadow:inset 0 27px 0px -24px #2ba8ff;
  background-color: rgb(0, 146, 255);
  font-size: 20px;

  margin: 0 auto;

  @include md {
    margin: 0;
  }
}

.Community .twitter-btn:hover {
  background-color: rgb(40, 160, 253);
}
