.Community {
  height: 550px;
  border-bottom: 1px solid white;
  text-align: right;
  justify-content: right
}

.Community .community-container {
  width: 100%;
  padding-right: 6em;
}

.Community discord-btn {
  
}