.staff-member-small {
  width: 100%;
  height: 100%;
  text-align: center;
  padding-bottom: 40px;

  @include md {
    padding-bottom: 0px;
  }
}

.testers-text {
  padding-top: 25px;
  width: 100%;

  @include md {
    padding-top: 75px;
  }
}