/**
	Home page styling.
*/

// HOME \\
.main-container {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

  display: flex;
  align-items: center;

  overflow: hidden;
}

.text-container {
  position: relative;

  color: white;
  font-size: 16px;
  padding: 0px 10px 0px 10px;

  flex-direction: column;

  @include md {
    font-size: 25px;
  }
}

.text-container * {
  z-index: 5;
}

.header-text {
  font-weight: bold;
  font-size: 25px;

  @include md {
    font-size: 40px;
  }
}

// .bg-overlay {
//   position: absolute;
//   width: 100%;
//   height: 100%;
// }

// WELCOME \\
.Welcome {
  height: 450px;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  text-align: center;
  justify-content: center;
}

.Welcome.main-container {
  background-position: 10% 0%;

  @include md {
    background-position: 0%;
  }
}

.Welcome .welcome-text {
  font-size: 35px;
  padding-bottom: 55px;

  @include md {
    font-size: 55px;
    padding-bottom: 55px;
  }
}

.Welcome .about-text {
  margin-top: 50px;
}

// VIBRANT VENTURE \\
.VibrantVenture {
  height: 550px;
  border-bottom: 1px solid white;

  justify-content: center;

  @include md {
    justify-content: left;
  }
}

.VibrantVenture.main-container {
  background-position: 75% 0%;

  @include md {
    background-position: 0%;
  }
}

.VibrantVenture .vibrant-venture-container {
  padding: 0px 10px 0px 10px;

  text-align: center;

  @include md {
    padding-left: 6em;
    padding-right: 0;

    text-align: left;
  }
}

.VibrantVenture .vibrant-venture-header {
  padding-bottom: 20px;
}

.VibrantVenture .button-group {
  display: flex;

  flex-direction: column;
  justify-content: center;
  
  @include md {
    display: block;
  }
}

.VibrantVenture .learn-more-btn {
  display: inline-block;
  
  padding: 15px 20px;
  margin: 50px auto 0px auto;

  width: 150px;
  
  border: none;
  border-radius: 40px;
  box-shadow:inset 0px 27px 0px -24px #e67a73;
  background-color: rgb(192, 45, 26);
  cursor: pointer;

  color: #ffffff;
  font-weight: bold;
  font-size: 16px;

  @include md {
    font-size: 20px;
  }
}

.VibrantVenture .learn-more-btn:hover {
  background-color: #d5463e;
}

.VibrantVenture .learn-more-btn:active {
  position:relative;
  top:1px;
}

.VibrantVenture .or {
  padding: 15px 40px;
  font-size: 20px;
}

.VibrantVenture .buy-now-link {
  color: #ffffff;
  font-weight: bold;
  font-style: italic;
  font-size: 25px;
}

// COMMUNITY \\
.Community {
  min-height: 550px;
  border-bottom: 1px solid white;
  
  text-align: center;
  justify-content: center;

  padding: 50px 0;

  @include md {
    text-align: left;
    justify-content: flex-end;

    padding: 100px 0;
  }
}

.Community.main-container {
  background-position: 10% 0%;

  @include md {
    background-position: 0%;

    padding-right: 6em;
    align-self: end;
  }
}

.Community .community-container {
  width: 100%;

  @include md {
    width: 700px;
  }
}

.Community .discord-text {
  padding-bottom: 25px;
}

.Community .youtube-twitter-text {
  padding-top: 25px;
  padding-bottom: 25px;
}

.Community .btn {
  border: none;
  cursor: pointer;
  color: #ffffff;
  font-weight: bold;
  padding: 20px 30px;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.Community .btn-icon {
  width: 30px;
  height: 30px;
  padding-right: 10px;
}

.Community .discord-btn {
  border-radius: 20px;
  box-shadow:inset 0 27px 0px -24px #757cd3;
  background-color: rgb(86, 98, 246);
  font-size: 22px;
  align-self: flex-start;
  width: 225px;

  margin: 0 auto;

  justify-content: center;

  @include md {
    width: 300px;

    margin: 0;
  }
}

.Community .discord-btn:hover {
  background-color: #626df8;
}

.Community .discord-btn:active {
  position: relative;
  top: 1px;
}

.Community .social-media-btns {
  display: flex;

  flex-direction: column;

  @include md {
    flex-direction: row;
  }
}

.Community .youtube-btn {
  border-radius: 20px;
  box-shadow:inset 0 27px 0px -24px #f56666;
  background-color: rgb(229, 19, 19);
  font-size: 20px;

  margin: 0 auto 10px auto;

  @include md {
    margin: 0 20px 0 0;
  }
}

.Community .twitter-btn {
  border-radius: 20px;
  box-shadow:inset 0 27px 0px -24px #8ac9ef;
  background-color: rgb(80, 171, 241);
  font-size: 20px;

  margin: 0 auto;

  @include md {
    margin: 0;
  }
}