.staff-container {
  display: grid;
  align-items: center;

  @include md {
    grid-template-columns: repeat(2, 1fr);
  }
}

.staff-icon-container {
  text-align: center;
  align-content: center;

  padding-bottom: 20px;

  @include md {
    padding-bottom: 0;
  }
}

.staff-icon {
  width: 200px;
  height: 200px;
  position: relative;

  @include md {
    position: relative;
    width: 400px;
    height: 400px;
  }
}

.staff-text {
  grid-row-start: 2;

  @include md {
    grid-row-start: 1;
  }
}

.staff-icon-container {
  grid-row-start: 1;

  @include md {
    grid-row-start: 1;
  }
}


.staff-icon-container.right {
  grid-column-start: 1;

  @include md {
    grid-column-start: 1;
  }
}
