.root {
  text-transform: none;
  height: auto;
  padding: calc(var(--mantine-spacing-xs) / 2) var(--mantine-spacing-xs);
}

.root[data-variant="filled"] {
  border: 2px solid color-mix(in srgb, var(--badge-bg) 72%, white);
  color: white;
}

.section {
  filter: drop-shadow(0 2px 0 rgba(0, 0, 0, 0.5));
}

.label {
  font-family: LanaPixel, Nunito, sans-serif;
  font-size: 20px;
  font-weight: 400;
  -webkit-font-smoothing: none;
}
