.button {
  background: transparent;
  color: white;
  border: 1px solid transparent;
  border-radius: var(--mantine-radius-xl);
  padding: var(--mantine-spacing-xs) var(--mantine-spacing-md);
  font-size: var(--mantine-font-size-xl);
  transition:
    background-color 0.25s ease,
    border-color 0.25s ease;
  font-weight: 600;
}

@media (hover: hover) {
  .button[data-variant="header"]:hover {
    background-color: rgba(139, 34, 50, 0.7);
  }
}

.button[data-variant="navbar"]:active {
  background-color: rgba(255, 255, 255, 0.18);
}
