.text-container {
  text-align: center;
  color: white;
  font-size: 35px;
  flex-direction: column;
  justify-content: center;
  display: flex;
  align-items: center;
}

.header-text {
  font-weight: bold;
  font-size: 50px;
  padding-bottom: 55px;
}
