/**
	Header styles.
*/

$content-margin: 10px;

.Header {
	display: flex;
	position: fixed;
	max-width: $max-width;
	height: $header-height-base;
	width: 100%;
	top: 0;
	z-index: 10;
	flex-direction: row;
	background-color: rgb(192, 45, 26);
	border-bottom: solid 1px white;

	@include md {
		height: $header-height-md;
	}
}

.Header .company-logo-container {
	display: flex;
	
	align-self: start;

	height: 100%;
	padding: 0px 20px 0px 20px;
	align-items: center;

	img {
		height: 50px;
		width: 50px;
	}

	@include md {
		img {
			height: 75px;
			width: 75px;
		}
	}
}

.Header .company-name {
	display: none;

	@include md {
		display: block;

		font-size: 25px;
		margin-left: 20px;
		font-weight: bold;
		white-space: nowrap;
		color: $white;
	}
}

.Header .nav-bar {
	display: none;

	@include md {
		display: flex;

		flex-direction: row;
		align-items: center;
		
		margin-left: auto;
		margin-right: $content-margin;
		font-size: 25px;
		white-space: nowrap;
	}
}

.Header .nav-link {
	display: inline-block;
	padding: 0.5em 1em;
	color: $white-transparent;
	font-weight: bold;
	text-decoration: none;
}

.Header .nav-link-active {
	color: $white;
	border-bottom: 2px solid;
}