/**
	Header styles.
*/

$content-margin: 10px;

.Header {
	display: flex;
	position: fixed;
	max-width: $max-width;
	height: $header-height-base;
	width: 100%;
	top: 0;
	z-index: 10;
	flex-direction: row;
	background-color: rgb(192, 45, 26);
	border-bottom: solid 1px white;

	@include md {
		height: $header-height-md;
	}
}

.Header .company-logo-container {
	display: flex;
	
	align-self: start;

	height: 100%;
	padding: 0px 20px 0px 20px;
	align-items: center;

	img {
		height: 50px;
		width: 50px;
	}

	@include md {
		img {
			height: 75px;
			width: 75px;
		}
	}
}

.Header .company-name {
	display: none;

	@include md {
		display: block;

		font-size: 25px;
		margin-left: 20px;
		font-weight: bold;
		white-space: nowrap;
		color: $white;
	}
}

.Header .nav-bar {
	display: none;

	@include md {
		display: flex;
		flex-direction: row;
		align-items: center;

		margin-left: auto;
		margin-right: $content-margin;
		font-size: 25px;
		white-space: nowrap;
	}
}

.Header .nav-link { 
	text-align: center;
	flex-grow: 1;
	display: inline-block;
	padding: 0.5em 1em;
	color: $white-transparent;
	font-weight: bold;
	text-decoration: none;
	margin-right: 10px;
	margin-left: 10px;
}

.Header .nav-link-active {
	color: $white;
	background-color: rgba(0, 0, 0, 0.5) !important;;
	border: 3px rgba(0, 0, 0, 0.35);
	border-radius: 20px;
}

.Header .nav-link:hover {
	background-color: rgba(0, 0, 0, 0.25);
	border: 3px rgba(0, 0, 0, 0.35);
	border-radius: 20px;
	color: $white;

	-webkit-transition: background-color 100ms linear, border-radius 100ms linear, color 100ms linear;
	-ms-transition: background-color 100ms linear, border-radius 100ms linear, color 100ms linear;
	transition: background-color 100ms linear, border-radius 100ms linear, color 100ms linear;
}