/**
	Header styles.
*/

$content-margin: 10px;

.Header {
	display: flex;
	position: fixed;
	max-width: $max-width;
	height: $header-height-base;
	width: 100%;
	top: 0;
	z-index: 10;
	flex-direction: row;

	justify-content: space-between;

	@include md {
		height: $header-height-md;

		justify-content: start;
	}
}

.Header .header-bg { // We do this to allow our mobile nav to move behind the background.
	position: absolute;

	width: 100%;
	height: 100%;

	background-color: $red;
	border-bottom: solid 1px white;
}

.Header .company-logo-container {
	display: flex;
	z-index: 1;

	justify-self: flex-end;

	height: 100%;
	padding: 0px 20px 0px 20px;
	align-items: center;

	img {
		height: 50px;
		width: 50px;
	}

	@include md {
		align-self: start;

		img {
			height: 75px;
			width: 75px;
		}
	}
}

.Header .company-name {
	display: none;

	@include md {
		display: block;

		font-size: 25px;
		margin-left: 20px;
		font-weight: bold;
		white-space: nowrap;
		color: $white;
	}
}

.Header .nav-bar {
	display: flex;
	position: absolute;
	z-index: -1;

	flex-direction: column;
	// rounded corners
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;

	width: 100%;
	transform: translateY(-100%);
	background-color: $red;
	-webkit-tap-highlight-color: transparent;

	transition: transform 0.25s ease;

	@include md {
		display: flex !important; // Overwrite the mobile one when on desktop so the menu isn't gone when you switch after closing it on mobile.
		position: relative;
		flex-direction: row;
		align-items: center;
		z-index: auto;

		margin-left: auto;
		margin-right: $content-margin;
		font-size: 25px;
		white-space: nowrap;
		width: auto;
		transform: translateY(0) !important;

		background-color: transparent;
	}
}

.Header .nav-bar.open {
	display: flex;
	transform: translateY($header-height-base);
}

.Header .nav-link {
	text-align: left;
	flex-grow: 1;
	display: inline-block;
	color: $white-transparent;
	font-weight: bold;
	text-decoration: none;

	padding: 1rem;
	margin-top: 1px;
	background-color: rgb(156, 0, 0);

	@include md {
		text-align: left;
		flex-grow: 1;
		display: inline-block;
		padding: 0.5em 1em;
		color: $white-transparent;
		font-weight: bold;
		text-decoration: none;
		padding: 1rem;
		margin-right: 10px;
		margin-left: 10px;
		margin-top: 0;

		background-color: transparent;
	}
}

.Header .nav-link-active {
	color: $white;
	background-color: rgba(0, 0, 0, 0.5);

	@include md {
		background-color: rgba(0, 0, 0, 0.5) !important;;
		border: 3px rgba(0, 0, 0, 0.35);
		border-radius: 20px;
	}
}

.Header .nav-link:hover {
	@include md {
		background-color: rgba(0, 0, 0, 0.25);
		border: 3px rgba(0, 0, 0, 0.35);
		border-radius: 20px;
		color: $white;

		-webkit-transition: background-color 100ms linear, border-radius 100ms linear, color 100ms linear;
		-ms-transition: background-color 100ms linear, border-radius 100ms linear, color 100ms linear;
		transition: background-color 100ms linear, border-radius 100ms linear, color 100ms linear;
	}
}

.Header .nav-link-text {
	// add padding to the left of the text to make it look better
	padding-left: 0.5em;
}