.imageWrap {
  border-radius: var(--mantine-radius-md);
  overflow: hidden;
  border: 10px solid white;
  box-shadow: 0 10px 24px rgba(0, 0, 0, 0.3);
}

.title {
  color: white;
  font-family: LanaPixel, Nunito, sans-serif;
  -webkit-font-smoothing: none;
  text-shadow: 0 calc(1em / 11) 0 rgba(0, 0, 0, 0.5);
}
