.Footer {
	background-color: darkred;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	align-self: end;
	text-align: center;
	color: #fff;
	padding-top: 10px;
	padding-bottom: 10px;
	width: 100%;
	font-size: 20px;
}

.Footer {
	div {
		display: flex;
		flex-direction: column;

		.copyright-text {
			display: flex;
			align-items: center;
			align-self: flex-end;
			font-size: 18px;
			padding-bottom: 0.5em;
		}
	
		img {
			align-self: center;
			padding: 0.5em 0 0.5em 0;
		}
	}

	.developers-text {
		font-size: 18px;
		padding-right: 0;
	}
}

@include md {
	.Footer {
		flex-direction: row;

		div {
			flex-direction: row;

			.copyright-text {
				align-self: center;
			}

			img {
				padding: 0 0.75em 0 1em;
			}
		}

		.developers-text {
			padding-right: 1em;
		}
	}
}