.Footer {
    background-color: darkred;
    display: flex;
    align-items: center;
    align-self: end;
    //justify-content: center;
    text-align: center;
    color: #fff;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    font-size: 20px;
}

.Footer .copyright-text {
    font-size: 18px;
    padding-left: 1em;
    padding-right: 0.75em;
}