.VibrantVenture.main-container {
  background-position: 75% 0%;

  @include md {
    background-position: 0%;
  }
}

.VibrantVenture .button-group {
  display: flex;

  flex-direction: column;
  justify-content: center;
  
  @include md {
    display: block;
  }
}

.VibrantVenture .learn-more-btn {
  display: inline-block;
  
  padding: 15px 20px;
  margin: 50px auto 0px auto;

  width: 150px;
  
  border: none;
  border-radius: 40px;
  box-shadow:inset 0px 27px 0px -24px #e67a73;
  background-color: rgb(192, 45, 26);
  cursor: pointer;

  color: #ffffff;
  font-weight: bold;
  font-size: 16px;

  @include md {
    font-size: 20px;
  }
}

.VibrantVenture .learn-more-btn:hover {
  background-color: #d5463e;
}

.VibrantVenture .learn-more-btn:active {
  position:relative;
  top:1px;
}

.VibrantVenture .or {
  padding: 15px 40px;
  font-size: 20px;
}

.VibrantVenture .buy-now-link {
  color: #ffffff;
  font-weight: bold;
  font-style: italic;
  font-size: 25px;
}