/**
	Styles that every page inherits.
*/

.page {
	position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
	overflow-x: hidden; // This caused the wierdass small width on mobile.
}