/**
	Anything related to sizes and dimensions.
*/

// SIZES \\
$max-width: 2000px;

// BREAKPOINTS \\
$screen-sm-min: 576px; // Small tablets, large phones (Landscape).
$screen-md-min: 768px; // Small tablets (Portrait).
$screen-lg-min: 992px; // Small tablets and desktops.
$screen-xl-min: 1200px; // Large tablets and desktops.

// HEADER \\
$header-height-base: 75px;
$header-height-md: 115px;