.main-container {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

  display: flex;
  align-items: center;

  overflow: hidden;
  padding: 50px 50px;

  @include md {
    padding: 100px 100px;
  }
}

.main-container.left {
  text-align: center;
  justify-content: center;

  @include md {
    text-align: left;
    justify-content: left;
  }
}

.main-container.center {
  text-align: center;
  justify-content: center;
}

.main-container.right {
  text-align: center;
  justify-content: center;

  @include md {
    text-align: left;
    justify-content: flex-end;
  }
}

.text-container {
  position: relative;

  color: white;
  font-size: 16px;
  flex-direction: column;

  @include md {
    font-size: 25px;
  }
}

.text-container * {
  z-index: 5;
}

.header-text {
  font-weight: bold;
  font-size: 25px;

  @include md {
    font-size: 40px;
  }
}